%h1 Listing authors

%table
  %tr
    %th Username
    %th
    %th Email
    

  - @authors.each do |author|
    %tr
      %td= author.username
      %th
      %td= author.email
      %td= link_to 'Show', author
      %th
      %td= link_to 'Edit', edit_author_path(author)
      %th
      %td= link_to 'Destroy', author, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Author', new_author_path
= link_to "All Articles" , articles_path